@media only screen and (orientation: portrait) {
    /* Menu on top */

    #admin-app {
        flex-direction: column;
    }

    #admin-navbar {
        flex-direction: row;
    }
}

@media only screen and (orientation: landscape) {
    /* Menu to the left */

    #admin-app {
        flex-direction: row;
    }

    #admin-navbar {
        flex-direction: column;
    }
}

.admin-navbar-element {
    width: var(--app-nav-element-size);
    height: var(--app-nav-element-size);
    font-size: calc(var(--app-nav-element-size) * .4);
    cursor: pointer;
}

.admin-navbar-element:hover {
    background-color: var(--bs-tertiary-color);
}

.admin-navbar-element.active {
    background-color: var(--bs-secondary-bg);
    cursor: default;
}

.order-title {
    line-height: 42px;
}

.preparing-order {
    background-image: linear-gradient(45deg,rgba(255,255,255,.25) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.25) 50%,rgba(255,255,255,.25) 75%,transparent 75%,transparent);
    background-size: 4rem 4rem;
    background-color: var(--bs-secondary-bg);
    animation: 1s linear infinite progress-bar-stripes;
}

@keyframes progress-bar-stripes {
    0% {
        background-position-x: 4rem;
    }
}